.about-section {
  max-width: 1200px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

.about-text {
  position: relative;
  z-index: 2;
  padding-left: 16%;
  padding-right: 16%;
}

.about-text h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.about-text .first-letter {
  font-size: 2.5rem;
  font-weight: 600;
}

.about-text .wink {
  font-size: 1.5rem;
  color: #555;
}

.about-text .divider {
  width: 60%;
  height: 2px;
  background-color: #000;
  margin: -14px 200px 20px;
  border: none;
}
.divider-bottom {
  width: 20%;
  height: 2px;
  margin: auto;
  color: #000;
}
.about-text p {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
  line-height: 1.6;
}

.social-icons-vertical {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 2;
}

.social-icons-vertical a {
  color: #000;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.social-icons-vertical a:hover {
  color: #ff9900;
}

.emoji-hand {
  position: absolute;
  left: 0;
  top: 40%;
  width: 120px;
  z-index: 1;
}

.yellow-shape,
.grey-shape {
  position: absolute;
  z-index: 0;
}

.yellow-shape.left {
  bottom: 10px;
  left: 100px;
  width: 180px;
}

.yellow-shape.right {
  top: 100px;
  right: 0;
  width: 200px;
}

.grey-shape.left {
  left: 0;
  top: 15%;
  width: 250px;
}

.grey-shape.bottom-right {
  bottom: 0px;
  right: 180px;
  width: 230px;
}

@media (max-width: 768px) {
  .about-text h2 {
    font-size: 1.6rem;
  }

  .email-text {
    display: none;
  }

  .emoji-hand {
    width: 80px;
  }

  .social-icons-vertical {
    left: 5px;
  }
}
